body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Zen Dots", sans-serif;
}
header {
    background-color: #292929;
    text-align: center;
    padding: 10px 0;
}
footer {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    margin-bottom: 0px;
}
.responsive-img {
    max-width: 95%;
    height: 85px;
    margin: 2px;
}
.top-img {
    width: 70%;
    height: auto;
    background-color: black;
}
.middle-img {
    width: 80%;
    height: auto;
    background-color: black;
}
.logo-last {
    padding-top: 40px;
    width: 50%;
    height: auto;
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body-text {
    font-size: 1.5rem;
}
.text-top {
    padding-top: 5%;
    padding-left: 5%;
}
.text-middle {
    padding-top: 10%;
    padding-right: 5%;
}
.contact-us{
    font-size: 1.6rem;
}

@media (max-width: 768px) {
    .body-text {
        font-size: 1rem;
    }
    #home h2 {
        font-size: 1.5rem;
    }
    #home {
        height: 160px;
    }
    .text-top {
        padding-top: 0;
        padding-left: 4%;
    }
    .text-middle {
        padding-top: 0;
        padding-left: 4%;
    }
    .logo-last {
        width: 80%;
        padding-top: 10%;
    }
    .contact-us{
    font-size: 1.05rem;
}
}